@font-face {
    font-family: "flaticon";
    src: url("../fonts/flaticon/font/Flaticon.ttf?d27c30f5f7df1803e87851be00a2bbf9") format("truetype"),
url("../fonts/flaticon/font/Flaticon.woff?d27c30f5f7df1803e87851be00a2bbf9") format("woff"),
url("../fonts/flaticon/font/Flaticon.woff2?d27c30f5f7df1803e87851be00a2bbf9") format("woff2"),
url("../fonts/flaticon/font/Flaticon.eot?d27c30f5f7df1803e87851be00a2bbf9#iefix") format("embedded-opentype"),
url("../fonts/flaticon/font/Flaticon.svg?d27c30f5f7df1803e87851be00a2bbf9#flaticon") format("svg");
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-pin:before {
    content: "\f101";
}
.flaticon-pin-1:before {
    content: "\f102";
}
.flaticon-pin-2:before {
    content: "\f103";
}
.flaticon-tick:before {
    content: "\f104";
}
.flaticon-house:before {
    content: "\f105";
}
.flaticon-internet:before {
    content: "\f106";
}
.flaticon-apartment:before {
    content: "\f107";
}
.flaticon-town:before {
    content: "\f108";
}
.flaticon-key:before {
    content: "\f109";
}
.flaticon-apartment-1:before {
    content: "\f10a";
}
.flaticon-apartment-2:before {
    content: "\f10b";
}
.flaticon-key-1:before {
    content: "\f10c";
}
.flaticon-house-1:before {
    content: "\f10d";
}
.flaticon-loan:before {
    content: "\f10e";
}
.flaticon-money:before {
    content: "\f10f";
}
.flaticon-price-tag:before {
    content: "\f110";
}
